# Secrets
.env
.env.*
!.env.example

# Cache Python (nunca entrar na imagem)
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais
venv/
.venv/
env/

# IDEs e OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git e CI
.git/
.github/

# K8s e Helm (não precisam na imagem Docker)
k8s/
helm/

# Docs e logs
docs/
logs/
*.log