DISCORD_WEBHOOK_GERAL=xxxx
DISCORD_WEBHOOK_BRASIL=xxxx
DISCORD_WEBHOOK_INTERNACIONAL=xxxx
DISCORD_WEBHOOK_MALUCOS=xxxx
DISCORD_WEBHOOK_DATAS=xxxx
SERPAPI_KEY=xxxx


# Configurações do bot
CHECK_INTERVAL_MINUTES=30
LOG_LEVEL=INFO
